.widget{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(252, 252, 252);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    height: 130px;
    border-radius: 8px;

    .left,.right{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;

        .title{
            font-size: 15px;
            font-weight: bold;
            color: lightgray;
        }

        .counter{
            font-size: 28px;
            font-weight: 300;
        }

        .link{
            font-size: 12px;
            cursor: pointer;
            color: rgb(58, 58, 244);
        }

        .iconContainer{
            font-size: 19px;
            padding: 8px;
            background-color: rgba(128,0,128,0.342);
            border-radius: 5px;
            align-self: flex-start;
            margin: 5px 0;
        }
    }

    .right{
        background-color: rgb(97, 223, 97);
        
        .counter{
            font-size: 30px;
            color: white;
            font-weight: bold;
        }
    }
}